@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "container.css";
@import "box.css";
@import "input.css";
@import "toast.css";
@import "button.css";

@layer base {
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: 'fira-code', monospace;
    }
  }